body {
    background-image: linear-gradient(90deg, #2762a3, #3bafbe);
    display: flex;
    justify-content: center;
  }
  main {
    width: 60vw;
    background-color: white;
    padding: 50px;
    border-radius: 1rem;
    box-shadow: 10px 10px 50px;
  }
  
  h1 {
    color: #6b97c7;
  }
  
  h2 {
    color: #89dce7;
  }